/*===================
 Responsive iframe 16:9
===================*/
.iframe-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.no-scroll {
    overflow: hidden;
}

.hover-zoom {
    transition: all 400ms ease;

    &:hover {
        transform: scale(1.03);
    }
}

@mixin bg-image($url) {
    background-size: cover;
    background-position: center;
    background-image: url($url);
}