#settings, #refresh, #close-settings {
    width: 90px;
}
#settings {
    position: fixed;
    top: 20px;
    right: 20px;
}
#refresh {
    position: fixed;
    top: 60px;
    right: 20px;
}
#close-settings {
    position: fixed;
    top: 20px;
    right: 20px;
}
#settings-overlay {
	display: none;
	background: rgba(0,0,0,0.8);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
.banner-form {
    margin-top: 80px;
    color: #ffffff;
}
.iframe-wrap {
    border: 1px solid #e2e2e2;
}
iframe {
    border: 0;
    background: #e2e2e2;
}
#if-180x150 {
    width: 180px;
    height: 150px;
}
#if-300x250 {
    width: 300px;
    height: 250px;
}
#if-640x480 {
    width: 640px;
    height: 480px;
}
#if-728x90 {
    width: 728px;
    height: 90px;
}
#if-970x90 {
    width: 970px;
    height: 90px;
}
